/* Text alignment and spacing */
.skills, .education, .resume {
    margin: 0 0 2rem 0;
}
.tech-stack svg {
    height: 4rem;
    width: 4rem;
    padding: 0 2rem; 
}
.education p {
    padding: 0 2rem;
}

/* Resume link styling*/
.resume a {
    text-decoration: none;
    color: var(--font-colour);
    background-color: white;
    border-radius: 5px;
    border: 1px solid var(--border-colour);
    box-shadow: 0 1px 2px var(--border-shadow);
    margin: 0 0 0 2rem;
    padding: 0.2rem 0.3rem;
}
.resume a:hover {
    font-family: Supreme-Bold;    
    background-color: var(--button-colour);
}

/* Media query - Phone view */
@media screen and (max-width:767px) {
    /* Text alignment and spacing in main component are reduced to minimise dead space */
    .skills, .education, .resume {
        margin: 0 0 1rem 0;
    }
    .tech-stack svg {
        height: 3rem;
        width: 3rem;
        padding: 0 1rem; 
    }
    .resume a {
        margin: 0 0 0 1rem;
        padding: 0.2rem 0.3rem;
    }
}