/* Main component spacing - To ensure elements are evenly spaced out */
.contact-form {
    margin: 0;
    padding: 2rem 4rem 0;
}
.main-text .email a {
    margin: 0;
}

/* Form elements styling - To ensure elements have consistent size and borders */
.form-elements label {
    font-size: 18px;
    display: inline-block;
    width: 150px;
    padding: 1rem 0 1rem 1rem;
}
.form-input, .form-textarea {
    font-family: Supreme-Regular;
    width: 40dvw;
    height: 2rem;
    border-radius: 5px;
    border: 1px solid var(--border-colour);
    box-shadow: inset 0 1px 2px var(--border-shadow);
}
.form-textarea {
    height: 10rem;
    vertical-align: text-top;
}
.form-button {
    margin: 0;
    padding: 2rem 0 1rem calc(1rem + 157px);
}

/* Button styling - To show it can be interacted with */
.form-button button{
    font-family: Supreme-Regular;
    font-size: 1rem;
    color: var(--font-colour);
    background-color: white;
    height: 2rem;
    border-radius: 5px;
    border: 1px solid var(--border-colour);
    box-shadow: 0 1px 2px var(--border-shadow);
}

/* Button styling on hover - To emphasise it can be interacted with */
.form-button button:hover {
    font-family: Supreme-Bold;    
    background-color: var(--button-colour);
}

/* Link to previous page styling - For consistency with other text elements */
.go-back-link {
    text-decoration: none;
    color: var(--font-colour);
    margin: 0;
    padding: 4rem 4rem 0;
    display: block;
}

/* Media query - Phone view */
@media screen and (max-width:767px) {
    /* Form input fields are repositioned and resized for better visibility */
    .form-elements label {
        display:block;
    }
    .form-input, .form-textarea {
        width: 60dvw;
    }
    /* Text alignment and spacing are reduced to reduce amount of dead space */
    .contact-form {
        margin: 0;
        padding: 1rem 1rem 0;
    }
    .form-input, .form-textarea {
        margin: 0 0 0 1rem;
    }
    .form-button {
        margin: 0;
        padding: 2rem 0 1em 1rem;
    }
}