.intro {
    margin: 0;
    padding: 4rem 4rem 0;
}

.intro h1 {
    margin: 0 0 1rem 0
}

.photo {
    width: 30%;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/* Media query - Tablet and Phone view */
@media screen and (max-width: 1199px) {
    .photo {
        width:30%;
    }
}
