/* Text alignment and spacing */
.intro {
    margin: 0;
    padding: 4rem 4rem 0;
}
.intro h1 {
    margin: 0 0 1rem 0
}

/* Photo styling */
.photo {
    max-width: 400px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/* Media query - Phone view */
@media screen and (max-width:767px) {
    /* Resized photo */
    .photo {
        width: 60%;
    }
}
