/* Colour palette for website */
:root {
    --font-colour: #132C49;
    --hf-colour: #9F9F92;
    --background-colour: #D3DDC8;
}

/* Fonts sourced from Fontshare */
@font-face {
    font-family: Amulya-Regular;
    src: url(../fonts/Amulya-Regular.ttf);
}
@font-face {
    font-family: Amulya-Bold;
    src: url(../fonts/Amulya-Bold.ttf)
}

/* CSS Grid for header, main and footer layout on Desktop view */
body {
    display: grid;
    width: calc(100dvw - 16px);
    height: calc(100dvh - 16px);
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(7, 1fr);
    gap: 1rem;
}
header {
    grid-column: 1 / 2;
    grid-row: 1 / 8;
}
footer {
    grid-column: 2 / 5;
    grid-row: 7 / 8;
}
main {
    grid-column: 2 / 5;
    grid-row: 1 / 7;
}

/* Header component styling */
header {
    font-family: Amulya-Bold;
    color: var(--font-colour);
    background-color: var(--hf-colour);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
header a {
    text-decoration: none;
    color: var(--font-colour);
    padding: 1rem;
}
.logo, .logo-name, nav {
    text-align: center;
}
.logo a img {
    width: 70px;
    border-radius: 50%;
    margin: 1rem;
}
.logo-name {
    font-size: 34px;
}
nav {
    display: flex;
    flex-direction: column;
    margin: auto 0;
}
nav a:hover {
    background-color: var(--background-colour);
    border-radius: 10px;
    margin-top: auto;
}

/* Footer component styling */
footer {
    font-family: Amulya-Bold;
    color: var(--font-colour);
    background-color: var(--hf-colour);
    border-radius: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.email p {
    padding: 0;
    margin: 1rem;
}
.social-media {
    margin: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.social-media a i {
    font-size: 36px;
    color:var(--font-colour);
    padding: 1rem;
}

/* Universal main component styling */
main {
    font-family: Amulya-Regular;
    color: var(--font-colour);
    background-color: var(--background-colour);
    border-radius: 10px;
    }
main h1 {
    font-family: Amulya-Bold;
    font-size: 54px;
}
main h2 {
    font-family: Amulya-Bold;
    font-size: 32px;    
}

/* Media query - Tablet view */
@media screen and (max-width:1199px) {
    /* CSS Grid is used to reposition header, main and footer to suit mobile devices*/
    body {
        display: grid;
        min-height: calc(100dvh - 16px);
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(7, 1fr);
        gap: 1rem;
    }
    header {
        grid-column: 1 / 5;
        grid-row: 1 / 2;
    }
    footer {
        grid-column: 1 / 5;
        grid-row: 7 / 8;
    }
    /* Scrolling option to cater for smaller mobile sizes */
    main {
        overflow: scroll;
        grid-column: 1 / 5;
        grid-row: 2 / 7;
    }
    main::-webkit-scrollbar {
        display: none;
    }
    /* Header components are repositioned to the top of the page to make it slimmer */
    header, nav {
        position: sticky; top: 1rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .logo a img {
        margin: 0;
    }
    .logo-name {
        font-size: 30px;
        margin-right: auto;
    }
}

/* Media query - Phone view */
@media screen and (max-width:767px) {
    /* Heading is removed due to limited space on the header */
    .logo-name {
        display: none;
    }
    /* Logo is increased in size to make up the for removed heading */
    .logo a img {
        width: 110px;
    }
    /* Nav bar is realigned vertically due to limited horizontal space */
    nav {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    nav a {
        padding: 8px;
        text-align: right;
    }
    /* Footer elements are realigned vertically due to the limited horizontal space */
    footer{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
    }
    .social-media {
        margin: 0;
    }
}
