/* Colour palette for website */
:root {
    --font-colour: #132C49;
    --hf-colour: #BBC6C8;
    --background-colour: #E5E3E4;
    --card-colour: #dadfe0;
    --button-colour: #d6dadb;
    --border-colour: #cbcbcb;
    --border-shadow:rgba(0,0,0,0.20);
}

/* Fonts sourced from Fontshare */
@font-face {
    font-family: Supreme-Regular;
    src: url(../fonts/Supreme-Regular.ttf);
}
@font-face {
    font-family: Supreme-Bold;
    src: url(../fonts/Supreme-Bold.ttf)
}

/* CSS Grid for header, main and footer layout on Desktop view */
body {
    display: grid;
    width: calc(100dvw - 16px);
    height: calc(100dvh - 16px);
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(7, 1fr);
    gap: 1rem;
}
header {
    grid-column: 1 / 2;
    grid-row: 1 / 8;
}
footer {
    grid-column: 2 / 5;
    grid-row: 7 / 8;
}
main {
    grid-column: 2 / 5;
    grid-row: 1 / 7;
}

/* Header component styling */
header {
    font-family: Supreme-Bold;
    color: var(--font-colour);
    background-color: var(--hf-colour);
    border-radius: 10px;
    border: 1px solid var(--border-colour);
    box-shadow:  0 1px 2px var(--border-shadow);
    display: flex; /* Flexbox used to space out header elements and for easy clicking */
    flex-direction: column;
    justify-content: space-around;
}
header a {
    text-decoration: none;
    color: var(--font-colour);
    padding: 1rem;
}
.logo, .logo-name, nav {
    text-align: center;
}
.logo a img {
    width: 70px;
    border-radius: 50%;
    border: 1px solid var(--border-colour);
    box-shadow: 0 1px 2px var(--border-shadow);
    margin: 1rem;
}
.logo-name {
    font-size: 34px;
}
nav {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    margin: auto 0;
}
nav a:hover {
    background-color: var(--background-colour);
    border-radius: 10px;
    border: 1px solid var(--border-colour);
    box-shadow:  0 1px 2px var(--border-shadow);
    margin-top: auto;
}

/* Footer component styling */
footer {
    font-family: Supreme-Bold;
    font-size: 18px;
    color: var(--font-colour);
    background-color: var(--hf-colour);
    border-radius: 10px;
    border: 1px solid var(--border-colour);
    box-shadow:  0 1px 2px var(--border-shadow);
    display: flex; /* Flexbox used to align footer elements to the right */
    justify-content: flex-end;
    align-items: center;
}
.copyright {
    margin: 0 auto 0 1rem; /* To pull copyright notice to left side of footer and separate from other footer elements */
}
.email a {
    text-decoration: none;
    color: var(--font-colour);
    padding: 0;
    margin: 1rem;
}
.email a:hover {
    text-decoration: underline; /* To emphasise it can be interacted with */
}
.social-media {
    display: flex; /* Flexbox to space out icons */
    justify-content: space-around;
    align-items: center;
    margin: 1rem;
}
.social-media a i {
    font-size: 36px;
    color:var(--font-colour);
    padding: 1rem;
}

/* Universal main component styling */
main {
    font-family: Supreme-Regular;
    color: var(--font-colour);
    background-color: var(--background-colour);
    border-radius: 10px;
    border: 1px solid var(--border-colour);
    box-shadow:  0 1px 2px var(--border-shadow);
    }
main h1 {
    font-family: Supreme-Bold;
    font-size: 54px;
}
main h2 {
    font-family: Supreme-Bold;
    font-size: 32px;
}
main p {
    font-size: 18px;
}

/* Text alignment and spacing in main component */
.main-text {
    margin: 0;
    padding: 3rem 3rem 0;
}
.main-text h1 {
    margin: 0 0 1rem 0;
}
.main-text h2 {
    margin: 1rem 0 1rem 0;
}
.main-text p {
    margin: 0;
    padding: 0 0 1rem 2rem;
}

/* Media query - Tablet view */
@media screen and (max-width:1199px) {
    /* CSS Grid is used to reposition header, main and footer to suit mobile devices */
    body {
        display: grid;
        min-height: calc(100dvh - 16px);
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(7, 1fr);
        gap: 1rem;
    }
    header {
        grid-column: 1 / 5;
        grid-row: 1 / 2;
    }
    footer {
        grid-column: 1 / 5;
        grid-row: 7 / 8;
    }
    /* Scrolling option to cater for smaller mobile sizes */
    main {
        overflow: scroll;
        grid-column: 1 / 5;
        grid-row: 2 / 7;
    }
    main::-webkit-scrollbar {
        display: none;
    }
    /* Header components are repositioned to the top of the page to make it slimmer */
    header {
        position: sticky; top: 1rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .logo a img {
        margin: 0;
    }
    .logo-name {
        font-size: 30px;
        margin-right: auto;
    }
    nav {
        flex-direction: row;
    }
}

/* Media query - Phone view */
@media screen and (max-width:767px) {
    /* Heading is removed due to limited space on the header */
    .logo-name {
        display: none;
    }
    /* Logo is increased in size to make up the for removed heading */
    .logo a img {
        width: 110px;
    }
    /* Nav bar is realigned vertically due to limited horizontal space */
    nav {
        font-size: 1rem;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    nav a {
        padding: 8px;
        text-align: right;
    }
    /* Footer elements are realigned vertically due to the limited horizontal space */
    footer{
        font-size: 1rem;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
    }
    .copyright {
        margin: 0;
    }
    .social-media {
        margin: 0;
    }
    /* Heading sizes in main component are reduced to contain them in one line */
    main h1 {
        font-size: 44px;
    }
    main h2 {
        font-size: 22px;    
    }
    main p {
        font-size: 1rem;
    }
    /* Text alignment and spacing in main component are reduced to minimise dead space */
    .main-text {
        margin: 0;
        padding: 1rem 1rem 0;
    }
    .main-text h1, h2 {
        margin: 0 0 0.5rem 0;
    }
    .main-text p {
        margin: 0;
        padding: 0 0 0 1rem;
    }
}
