.project-intro {
    margin: 0;
    padding: 4rem 4rem 0;
}

.project-intro h1 {
    margin: 0 0 1rem 0
}

.project {
    padding: 2rem 4rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.project-card {
    background-color: var(--hf-colour);
    border-radius: 10px;
    width: 240px;
    overflow: hidden;
    text-align: center;
}

.project-card a img {
    width: 240px;
}

.project-name h3, p {
    margin: 0;
}

/* Media query - Tablet view */
@media screen and (min-width:768px) and (max-width:1199px) {

}